@{
  
}

<h1>Add Cheese</h1>

<form method="post">
    <input name="name" type="text"/>
    <textarea name="description" type="text"></textarea>
    <input type="submit" value="add cheese" />
</form>

