@{
    
}

<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count > 0)
{
    <ul>
        @foreach (var cheese in ViewBag.cheeses)
        {
            <li>
                <h3>@cheese.Name</h3>
                <p>@cheese.Description</p>
                <form method="post" asp-controller="Cheese" asp-action="Delete">
                    <button type="submit" name="cheese" value="@cheese.Name">X</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <h3>No cheeses yet</h3>

}